<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div>
        <table class="table responsive">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Raza</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let m of listadoRegistrosMascota">
              <td>
                {{ m.nombre }}
              </td>
              <td>
                {{ m.raza }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
