
  <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">

    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/inicio">Atencion Mascotas</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"> </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link active" routerLink="inicio">Inicio</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" routerLink="/programar-visita/crear-consulta">Solicitar visita</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="inicio">Veterinario</a>
          </li>

        </ul>
        <ul>
          <li class="navbar-nav me-auto mb-2 mb-lg-0">
            <a class="nav-link active" aria-current="page"
              routerLink="/administracion/crear-propietario">Registrarse</a>
          </li>
          <li class="navbar-nav me-auto mb-2 mb-lg-0">
            <a class="nav-link active" aria-current="page" routerLink="/seguridad/identificacion">Iniciar Sesion</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
