
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input  id="first_name" type="text" class="validate">
          <label for="first_name">Identificacion</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Nombres</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input  id="apellidos" type="text" class="validate">
          <label for="disabled">Apellidos</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="telefono" type="text" class="validate">
          <label for="telefono">Telefono</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          This is an inline input field:
          <div class="input-field inline">
            <input id="email_inline" type="email" class="validate">
            <label for="email_inline">Email</label>
            <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
          </div>
        </div>
      </div>
      <div>
      <a href="http://localhost:4200/inicio" class="btn btn-sucess" id="botoncito">Crear</a>
    </div>
    </form>
  </div>
